Repository lgr010519/vue3-vite-template: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
  "*.{md,json}": ["prettier --write"],
  "*.{js,jsx,cjs,mjs,vue}": ["eslint --fix", "prettier --write"],
  "*.{css,sass,scss,less,vue}": ["stylelint --fix", "prettier --write"]
}

feat: 更新了模板项目
  .eslintrc.js
  .prettierrc.json
  .stylelintrc.js
  README.md
  jsconfig.json
  package.json
  pnpm-lock.yaml
  postcss.config.js
  src/App.vue
  src/api/axios.js
  src/assets/styles/index.scss
  src/plugins/element-ui.js
Due: prettier --write, eslint --fix, stylelint --fix

feat: 更新了模板项目的包
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: 更新各项依赖版本
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: 升级vite版本
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix:更新包版本
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix:更新包版本
  package.json
  pnpm-lock.yaml
Due: prettier --write

update: 更新包版本
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: 添加构建配置文件
  .dockerignore
  Dockerfile
  Jenkinsfile
  k8s/release-values.yaml
  k8s/test-values.yaml
  k8s/uat-values.yaml
  project.yaml
Due: none

update: 更新element-plus
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: 登录调用统一认证平台
  .env.development
  src/router/index.js
  src/utils/config.js
  src/utils/hook.js
Due: prettier --write, eslint --fix

feat: 退出登录
  src/App.vue
  src/api/axios.js
  src/api/sso.js
  src/components/HelloWorld.vue
  src/components/TheWelcome.vue
  src/components/WelcomeItem.vue
  src/components/icons/IconCommunity.vue
  src/components/icons/IconDocumentation.vue
  src/components/icons/IconEcosystem.vue
  src/components/icons/IconSupport.vue
  src/components/icons/IconTooling.vue
  src/main.js
  src/router/index.js
  src/views/AboutView.vue
  src/views/HomeView.vue
Due: prettier --write, eslint --fix, stylelint --fix
